## 라이브러리 로드

In [57]:
import pandas as pd

## 수집할 URL 정하기

In [58]:
item_code = "326030"
item_name = "SK바이오팜"
page_no = 1

In [59]:
url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.nhn?code=326030&page=1'

## requests를 통한 HTTP 요청

In [60]:
import requests
headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}
response = requests.get(url, headers=headers)
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버페이 증권</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.11.06</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">81,300</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t4,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">78,700</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">81,400</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">78,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">185,131</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.11.03</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">78,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">78,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,838</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.11.02</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">147,421</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.11.01</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">92,279</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.31</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">79,072</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">83,365</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">80,275</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">75,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">74,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">98,644</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.25</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">78,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,844</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2023.10.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">76,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">77,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">73,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">129,541</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=326030&amp;page=83"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20231101165823/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>\n'

## BeautifulSoup 을 통한 table 태그 찾기

In [61]:
from bs4 import BeautifulSoup as bs

html = bs(response.text, "lxml")
table = html.select("table")
len(table)

2

In [62]:
type(table)

bs4.element.ResultSet

## pandas 코드 한 줄로 데이터 수집하기

In [63]:
table = pd.read_html(str(table))

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/2239560915.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

In [64]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
table[1]

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [65]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
temp = table[0].dropna()
temp

            날짜       종가     전일비       시가       고가       저가       거래량
1   2023.11.06  81300.0  4000.0  78700.0  81400.0  78500.0  185131.0
2   2023.11.03  77300.0   100.0  78000.0  78200.0  77100.0   65838.0
3   2023.11.02  77200.0  1600.0  76100.0  77500.0  75800.0  147421.0
4   2023.11.01  75600.0   200.0  75400.0  76100.0  74300.0   92279.0
5   2023.10.31  75400.0   500.0  76500.0  77000.0  74800.0   79072.0
9   2023.10.30  75900.0  1100.0  74400.0  76300.0  74400.0   83365.0
10  2023.10.27  74800.0   600.0  75800.0  76300.0  74600.0   80275.0
11  2023.10.26  75400.0  1800.0  76500.0  76700.0  74100.0   98644.0
12  2023.10.25  77200.0   300.0  77300.0  78000.0  76100.0  102844.0
13  2023.10.24  76900.0   900.0  76800.0  77300.0  73500.0  129541.0

## 페이지별 데이터 수집 함수 만들기

In [66]:
def get_day_list(item_code, page_no):
    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"    
    headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}
    response = requests.get(url, headers=headers)
    html = bs(response.text, "lxml")
    table = html.select("table")
    table = pd.read_html(str(table))
    temp = table[0].dropna()
    return temp

In [67]:
# 함수가 잘 만들어졌는지 확인하기
get_day_list(item_code, 1)

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

            날짜       종가     전일비       시가       고가       저가       거래량
1   2023.11.06  81300.0  4000.0  78700.0  81400.0  78500.0  185131.0
2   2023.11.03  77300.0   100.0  78000.0  78200.0  77100.0   65838.0
3   2023.11.02  77200.0  1600.0  76100.0  77500.0  75800.0  147421.0
4   2023.11.01  75600.0   200.0  75400.0  76100.0  74300.0   92279.0
5   2023.10.31  75400.0   500.0  76500.0  77000.0  74800.0   79072.0
9   2023.10.30  75900.0  1100.0  74400.0  76300.0  74400.0   83365.0
10  2023.10.27  74800.0   600.0  75800.0  76300.0  74600.0   80275.0
11  2023.10.26  75400.0  1800.0  76500.0  76700.0  74100.0   98644.0
12  2023.10.25  77200.0   300.0  77300.0  78000.0  76100.0  102844.0
13  2023.10.24  76900.0   900.0  76800.0  77300.0  73500.0  129541.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [68]:
import time

page_no = 1
item_list = []

while True:
    print(page_no)
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    
    page_no = page_no + 1
    time.sleep(0.1)
    
    #if temp.shape[0] < 10:
    if page_no > 10:
        break;

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

1
2

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

3
4

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

5
6

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

7
8

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

9
10

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

In [69]:
len(item_list)

10

## 수집한 데이터 하나의 데이터프레임으로 합치기

In [70]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df = pd.concat(item_list)

In [71]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.
df.head()

           날짜       종가     전일비       시가       고가       저가       거래량
1  2023.11.06  81300.0  4000.0  78700.0  81400.0  78500.0  185131.0
2  2023.11.03  77300.0   100.0  78000.0  78200.0  77100.0   65838.0
3  2023.11.02  77200.0  1600.0  76100.0  77500.0  75800.0  147421.0
4  2023.11.01  75600.0   200.0  75400.0  76100.0  74300.0   92279.0
5  2023.10.31  75400.0   500.0  76500.0  77000.0  74800.0   79072.0

In [72]:
df.tail()

            날짜       종가     전일비       시가       고가       저가       거래량
9   2023.06.16  85800.0  6000.0  80400.0  86500.0  80300.0  693322.0
10  2023.06.15  79800.0   300.0  80900.0  82700.0  78700.0  183134.0
11  2023.06.14  80100.0   900.0  80800.0  81700.0  79900.0  193070.0
12  2023.06.13  81000.0  3500.0  77400.0  81500.0  77400.0  366343.0
13  2023.06.12  77500.0  3600.0  73900.0  78300.0  73900.0  229972.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [73]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
df["종목코드"] = item_code
df["종목명"] = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2023.11.06,81300.0,4000.0,78700.0,81400.0,78500.0,185131.0,326030,SK바이오팜
2,2023.11.03,77300.0,100.0,78000.0,78200.0,77100.0,65838.0,326030,SK바이오팜
3,2023.11.02,77200.0,1600.0,76100.0,77500.0,75800.0,147421.0,326030,SK바이오팜
4,2023.11.01,75600.0,200.0,75400.0,76100.0,74300.0,92279.0,326030,SK바이오팜
5,2023.10.31,75400.0,500.0,76500.0,77000.0,74800.0,79072.0,326030,SK바이오팜
...,...,...,...,...,...,...,...,...,...
9,2023.06.16,85800.0,6000.0,80400.0,86500.0,80300.0,693322.0,326030,SK바이오팜
10,2023.06.15,79800.0,300.0,80900.0,82700.0,78700.0,183134.0,326030,SK바이오팜
11,2023.06.14,80100.0,900.0,80800.0,81700.0,79900.0,193070.0,326030,SK바이오팜
12,2023.06.13,81000.0,3500.0,77400.0,81500.0,77400.0,366343.0,326030,SK바이오팜
13,2023.06.12,77500.0,3600.0,73900.0,78300.0,73900.0,229972.0,326030,SK바이오팜

## 컬럼 순서 변경하기

In [74]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [75]:
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]

## 중복데이터 제거하기

In [76]:
df = df.drop_duplicates()
df.shape

(100, 9)

## 기술통계값 구하기

In [77]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,83389.000000,1758.000000,83327.000000,85044.000000,81796.000000,208935.780000
std,5867.835541,1803.597975,5846.502105,6155.088558,5540.920683,164427.944561
min,73400.000000,0.000000,73400.000000,74000.000000,72700.000000,65838.000000
25%,79650.000000,575.000000,79100.000000,81500.000000,77625.000000,115673.000000
50%,83100.000000,1100.000000,83000.000000,84900.000000,81250.000000,151415.000000
75%,86225.000000,2225.000000,86300.000000,87925.000000,84875.000000,225306.250000
max,99700.000000,8600.000000,99800.000000,103000.000000,97500.000000,888940.000000

## 최근 날짜 구해서 파일명 만들기

In [78]:
# 날짜 column의 첫 row값 확인
date = df.iloc[0]["날짜"]
date

'2023.11.06'

In [79]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2023.11.06.csv'

## 파일로 저장하기

In [80]:
# 파일로 저장하기 
df.to_csv(file_name, index=False)

In [81]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2023.11.06,81300.0,4000.0,78700.0,81400.0,78500.0,185131.0
1,326030,SK바이오팜,2023.11.03,77300.0,100.0,78000.0,78200.0,77100.0,65838.0
2,326030,SK바이오팜,2023.11.02,77200.0,1600.0,76100.0,77500.0,75800.0,147421.0
3,326030,SK바이오팜,2023.11.01,75600.0,200.0,75400.0,76100.0,74300.0,92279.0
4,326030,SK바이오팜,2023.10.31,75400.0,500.0,76500.0,77000.0,74800.0,79072.0
...,...,...,...,...,...,...,...,...,...
95,326030,SK바이오팜,2023.06.16,85800.0,6000.0,80400.0,86500.0,80300.0,693322.0
96,326030,SK바이오팜,2023.06.15,79800.0,300.0,80900.0,82700.0,78700.0,183134.0
97,326030,SK바이오팜,2023.06.14,80100.0,900.0,80800.0,81700.0,79900.0,193070.0
98,326030,SK바이오팜,2023.06.13,81000.0,3500.0,77400.0,81500.0,77400.0,366343.0
99,326030,SK바이오팜,2023.06.12,77500.0,3600.0,73900.0,78300.0,73900.0,229972.0

## 전체 과정을 하나의 함수로 만들기

In [82]:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    while True:
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no = page_no + 1
        time.sleep(0.1)

        #if temp.shape[0] < 10:
        if page_no > 10:
            break
            
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]

    return df

In [83]:
item_code = "352820"
item_name = "하이브"
# 빅히트의 사명이 하이브로 변경되었습니다.

# item_code = "326030"
# item_name = "SK바이오팜"

get_item_list(item_code, item_name)

/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))
/var/folders/cn/3xfx7dqx4zx7lmdpfl0jh9g80000gn/T/ipykernel_4229/515146795.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(str(table))

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2023.11.06,225000.0,9000.0,222500.0,227000.0,217000.0,279251.0
2,352820,하이브,2023.11.03,216000.0,11500.0,231500.0,231500.0,213000.0,448385.0
3,352820,하이브,2023.11.02,227500.0,3000.0,235000.0,243000.0,220500.0,606694.0
4,352820,하이브,2023.11.01,230500.0,11000.0,220000.0,231000.0,214000.0,259672.0
5,352820,하이브,2023.10.31,219500.0,0.0,223500.0,225500.0,216000.0,130896.0
...,...,...,...,...,...,...,...,...,...
9,352820,하이브,2023.06.16,297500.0,3000.0,302500.0,303000.0,295000.0,213190.0
10,352820,하이브,2023.06.15,300500.0,8500.0,296000.0,302500.0,295500.0,329373.0
11,352820,하이브,2023.06.14,292000.0,2000.0,295000.0,307500.0,288500.0,448757.0
12,352820,하이브,2023.06.13,294000.0,0.0,294500.0,296500.0,289000.0,209505.0
13,352820,하이브,2023.06.12,294000.0,13500.0,284500.0,295000.0,281000.0,402574.0